body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #b3fccbdc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

#board::before,
#board::after {
  content: "";
  position: absolute;
  background-color: black;
}

#board::before {
  width: 310px;
  height: 5px;
  top: 95px;
  left: -5px;
}

#board::after {
  width: 310px;
  height: 5px;
  top: 200px;
  left: -5px;
}

.cell:nth-child(3n + 1)::before,
.cell:nth-child(3n + 1)::after,
.cell:nth-child(3n + 2)::before,
.cell:nth-child(3n + 2)::after,
.cell:nth-child(3n + 3)::before,
.cell:nth-child(3n + 3)::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 5px;
  height: 310px;
}

.cell:nth-child(3n + 1)::before {
  left: 95px;
  top: -5px;
}

.cell:nth-child(3n + 2)::before {
  left: 195px;
  top: -5px;
}

.cell:nth-child(3n + 3)::before,
.cell:nth-child(3n + 1)::after,
.cell:nth-child(3n + 2)::after,
.cell:nth-child(3n + 3)::after {
  display: none;
}

#message {
  margin-top: 30px;
  font-size: 1.5em;
}

button {
  margin-top: 30px;
  color: black;
  letter-spacing: 1px;
  width: 7.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid black;
  font-size: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #007bff;
  color: white;
}

@media (max-width: 600px) {
  #board {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
  }

  .cell {
    width: 80px;
    height: 80px;
    font-size: 1.5em;
  }

  button {
    width: 90px;
    font-size: 0.5rem;
    margin: 5px 5px 25px 5px;
  }

  #message {
    font-size: 1.2em;
  }
}
